/* all text to be in font quick sand */
body {
    font-family: 'Quicksand', sans-serif;
}

/* set width of container to 100%, maxed out at 800px*/
.container-sm {
    width: 100%;
    max-width: 800px;
}

/* font size, alignment and spacing for h1 */
h1 {
    font-family: 'Architects Daughter', cursive;
    font-size: 60px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}


/* margin above each new row */
.row {
    margin-top: 20px;

}

/* font size for lists */
li {
    font-size: 20px;
}

/* spacing and text sizing/alignment for all paragraphs */
p {
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    font-size: 18px;
}

/* positioning of elements in row 1 */
#quiz-timer {
    float: right;
}
#persistant-link-to-HS {
    float: left;
}

/* format the buttons at bottom of text of document */
.large-button {
    width: 150px;
    display: block;
}

/* font size and spacing of each answer button */
.answer-options {
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 7px;
    margin-bottom: 10px;
}

/* spacing for the block of answer buttons  */
#answer-buttons {
    margin-top: 25px;
    margin-bottom: 25px;
}

/* formatting "wrong/correct" display and border above it */
#previous-result {
    border-top: solid 1px #333;
    font-style: italic;
    font-size: 18px;
    color: #333;
    padding: 3px;
    padding-top: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}