body {
    font-family: 'Quicksand', sans-serif;
}

.container-sm {
    max-width: 500px;
}

h1 {
    font-family: 'Architects Daughter', cursive;
    font-size: 60px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.col-md-12 {
    margin-left: 5%;
    margin-right: 5%;
}

p {
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 18px;
}

#quiz-timer {
    float: right;
}
#persistant-link-to-HS {
    float: left;
}

.class {
    float: right;
}

/* format the buttons at bottom of text of document */
.large-button {
    width: 150px;
    display: block;
}

.answerOptions {
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 7px;
}

#previous-result {
    border-top: solid 1px #333;
    font-style: italic;
    font-size: 18px;
    color: #333;
    padding: 3px;
    padding-top: 15px;
    
    margin-top: 10px;
    margin-bottom: 10px;
}